* {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

header .logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  position: relative;
}
header .logo-section a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 0;
}
header .logo-section a .back-button i {
  color: #383838;
  width: 10vw;
  padding-left: 1em;
}
header .logo-section .logo {
  z-index: 5;
}
header .logo-section .logo img {
  height: 30px;
  margin: 1em 0 0.5em 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  height: 21vh;
  padding: 2em;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    height: 5vh;
  }
}
footer .logo-booki {
  height: 3vh;
  filter: brightness(100);
  align-self: flex-start;
}
@media (min-width: 1024px) {
  footer .logo-booki {
    height: 2vh;
    align-self: self-end;
    margin: 0 3em 0 3em;
  }
}
footer .display-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .display-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  footer .display-footer-subgroup {
    display: flex;
    flex-direction: row;
    margin: 0 1.2em 0 1.2em;
  }
}
footer .display-footer-subgroup .footer-href {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 0 0.4em;
}
@media (min-width: 1024px) {
  footer .display-footer-subgroup .footer-href {
    margin: 0 1em 0 1em;
    padding: 0;
  }
}
footer .display-footer-subgroup .footer-href i {
  width: 1.5em;
  margin-right: 0.5em;
}
footer .display-footer-subgroup .footer-href a {
  text-decoration: none;
  color: white;
}

@keyframes thread {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-hidden {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}
@keyframes reservation-btn_in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px #d1d1d1;
  }
}
@keyframes reservation-btn_out {
  from {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px #d1d1d1;
  }
  to {
    opacity: 1;
    box-shadow: 0px 5px 10px 1px #b7b7b7;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

body {
  background-color: #F6F6F6;
  margin: 0;
}

container {
  width: 100%;
}

.picture-background .img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 50vh;
}

main {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -30px;
  padding: 2em 1em 2em 1em;
}
main .restaurant-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .restaurant-title h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-style: oblique(50);
  font-weight: 300;
}
main .restaurant-title .align-heart {
  height: 4vh;
  width: 6.1vw;
  padding-bottom: 1em;
  padding-right: 2em;
}
main .restaurant-title .align-heart .heart-img {
  width: 8vw;
  height: 5vh;
}
main .menu-section {
  padding: 1.5em 0 1.5em 0;
  display: block;
}
main .menu-section--1 {
  animation: thread 300ms ease-in-out 700ms normal backwards running;
}
main .menu-section--2 {
  animation: thread 600ms ease-in-out 700ms normal backwards running;
}
main .menu-section--3 {
  animation: thread 900ms ease-in-out 700ms normal backwards running;
}
main .menu-section--4 {
  animation: thread 1200ms ease-in-out 700ms normal backwards running;
}
main .menu-section--5 {
  animation: thread 1500ms ease-in-out 700ms normal backwards running;
}
main .menu-section--6 {
  animation: thread 1800ms ease-in-out 700ms normal backwards running;
}
main .menu-section--7 {
  animation: thread 2100ms ease-in-out 700ms normal backwards running;
}
main .menu-section--8 {
  animation: thread 2400ms ease-in-out 700ms normal backwards running;
}
main .menu-section--9 {
  animation: thread 2700ms ease-in-out 700ms normal backwards running;
}
main .menu-section--10 {
  animation: thread 3000ms ease-in-out 700ms normal backwards running;
}
main .menu-section--11 {
  animation: thread 3300ms ease-in-out 700ms normal backwards running;
}
main .menu-section--12 {
  animation: thread 3600ms ease-in-out 700ms normal backwards running;
}
main .menu-section .section-title {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 0.3em;
}
main .menu-section .blue-line {
  display: block;
  width: 10vw;
  height: 3px;
  background: #99E2D0;
}
main .menu-section article {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-top: 0.9em;
  box-shadow: 0px 5px 10px 1px #dddddd;
}
main .menu-section article .menu-card {
  display: flex;
  width: 100%;
  overflow: hidden;
}
main .menu-section article .menu-card-text {
  display: flex;
  position: relative;
  transform-origin: left;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.9em;
  width: 100%;
  margin-right: 0;
}
main .menu-section article .menu-card-text:hover {
  animation: text-hidden 0.5s both;
}
main .menu-section article .menu-card-text-subtitle-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .menu-section article .menu-card-text .price {
  text-align: right;
  font-weight: 700;
  font-size: 15px;
}
main .menu-section article .menu-card:hover {
  transition: margin-right 1s;
  margin-right: 0;
}
main .menu-section article .menu-card:hover .menu-check_green {
  transform: translateX(0);
  width: 20%;
}
main .menu-section article .menu-card .menu-check_green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 0;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s;
  position: relative;
  right: 0;
  transform: translateX(60px);
}
main .menu-section article .menu-card .menu-check_green i {
  color: white;
}
main .menu-section article .menu-card-text-title {
  display: flex;
  flex-direction: column;
}
main .menu-section article .menu-card-text-title:hover {
  animation: text-hidden 0.5s both;
}
main .menu-section article .dish-name {
  font-weight: 500;
  font-size: 18px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu-section article .assaisonement_name {
  font-weight: 300;
  font-size: 15px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .button button {
  width: 50vw;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 70%);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 1em;
  font-weight: 400;
  margin: 1em 0 0 25%;
  box-shadow: 0px 5px 10px 1px #b7b7b7;
  animation: reservation-btn_out 500ms ease-in-out backwards;
}
main .button button:hover {
  animation: reservation-btn_in 500ms ease-in-out forwards;
}
main .button button span {
  font-size: 16px;
  font-weight: 500;
}

input {
  opacity: 0;
  position: absolute;
  z-index: 999;
}

input + label {
  position: relative;
  -webkit-clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
          clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
  background: black;
  display: inline-block;
  transform-origin: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input:checked + label {
  -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
          clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  background: linear-gradient(0deg, #FF79DA 60%, #9356DC 90%);
  display: inline-block;
  transform-origin: center;
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}/*# sourceMappingURL=styles-page-menu.css.map */