@import 'common';

// variables

$animation-dur: 700ms;
$animation-del: 500ms;
$secondary-anim-del: $animation-dur + $animation-del + 500ms;
$num-dish: 12;

// mixin

@mixin flexbox-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Animations 

@keyframes thread {
    0%{
        // top: -100px;
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        // top: 0;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text-hidden {
    from {
        // max-width: 300px;
        width: 100%;
    }

    to {
        // width: 230px;
        width: 80%;
    }
}

@keyframes reservation-btn_in {
    from {
    opacity: 1;   
    }

    to {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px darken($dark-grey, 10);
    }
}

@keyframes reservation-btn_out {
    from {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px darken($dark-grey, 10);
       
    }
    to {
    opacity: 1;
    box-shadow: 0px 5px 10px 1px darken($dark-grey, 20);
    }
}
// Layout 

* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

body {
    background-color: $grey;
    margin: 0;
    max-width: 100%;

    @media (min-width: 1024px){
        background-color: white;
    }
}

container {
    width: 100%;
}

.picture-background {
        
    .img-restaurant {
        object-fit: cover;
        width: 100vw;
        max-width: 100%;
        height: 25vh;

        @media (min-width: 1024px){
            height: 55vh;
        }
    }
}

main {
    background-color: $grey;
    border-radius: 40px 40px 0 0;
    position: relative;
    padding: 2em 1em 1em 1em;
    // animation: thread 1s 1s ease-in-out fowards;
    top: -40px;
    // &::after {
    //     animation: thread 1s 1s ease-in-out fowards; }

    @media (min-width: 1024px){
        width:80%;
        margin: -40px auto 0 auto;
        top:0;
    }

    .restaurant-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1024px){
            width:50%;
            margin: 0 auto;
        }
        
        h1 {
            font-family: shrikhand;
            font-size: 28px;
            font-weight: 300;
        }

        .align-heart {
            height: 4vh;
            width: 6.1vw;
            padding-right: 2em;
            padding-top: 0.4em;

            .heart-img {
                width: 8vw;
                height: 5vh;
            }
        }
    }

    .menu-section {
        padding: 1.5em 0 1.5em 0;
        display: block;

        @media (min-width: 1024px){
            width:80%;
            margin: 0 auto;
        }

        @for $i from 1 through $num-dish {
            &--#{$i} {
                animation: thread ($animation-del * $i * 0.6) ease-in-out $animation-dur normal backwards running;
            }
        }

        .section-title {
            font-size: 1em;
            font-weight: 300;
            padding-bottom: 0.3em;
        }
        .blue-line {
            display: block;
            width: 10vw;
            height: 3px;
            background: $tertiary;
        }

        article {
            display: flex;
            background-color: white;
            border-radius: 15px;
            margin-top: 0.9em;
            @include box-shadow(5);
            // animation: thread $secondary-anim-del 1s ease-in-out backwards; 
            // animation: $secondary-anim-del ease-in-out 1s 1 normal backwards running thread;

            .menu-card{
                display: flex;
                width: 100%;
                overflow: hidden;
                // gap: 1.2em;
                // padding-right: 0px;
                 
                &-text {

                    display: flex;
                    position: relative;
                    transform-origin: left;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 0.9em;
                    width: 100%;
                    // max-width: 100%;
                    margin-right: 0;

                    &:hover {
                        animation: text-hidden 0.5s both;
                        // width: 80%;
                        // transition: max-width 1s;
                        // max-width: 70%;
                    }

                    &-subtitle-and-price {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .price {
                    //  width:100%;   
                        text-align: right;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
                &:hover {
                    transition: margin-right 1s;
                    margin-right: 0;
                }

                &:hover .menu-check_green {
                    // right: 0px;
                    // transition: transform 1s;
                    transform: translateX(0);
                    width: 20%;
                }

                .menu-check_green {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $tertiary;
                    width: 0;
                    border-radius: 0 15px 15px 0;
                    transition: all 0.5s;
                    position: relative;
                    // transform-origin: right;
                    right: 0;
                    transform: translateX(60px);
                    // transform: scaleX(0);
                    // transform-origin: right;

                    i {
                        color: white;
                    }
                }
            }

            .menu-card-text-title {
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                // height: 35px;
                &:hover {
                animation: text-hidden 0.5s both;
                }
            }
            .dish-name {
                font-weight: 500;
                font-size: 18px;
                max-width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .assaisonement_name {
                font-weight: 300;
                font-size: 15px;
                max-width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        // .container-menu-card {
        //     animation: thread 1s 1s ease-in-out backwards;
        // }

    }

    .button {

        display: flex;
        align-items: center;
        justify-content: center;
        
        button {
            width: 15em;
            background: linear-gradient(180deg, $secondary 0%, $primary 70%);
            border-radius: 50px;
            border: none;
            color: white;
            padding: 1em 1em 1em 1em;
            font-weight: 400;
            margin: 0 auto 0 auto;
            @include box-shadow(20%);
            animation: reservation-btn_out 500ms ease-in-out backwards;

            &:hover { 
                animation: reservation-btn_in 500ms ease-in-out forwards;
            }

            span {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

// Checkbox 

input {
    opacity: 0;
    position: absolute;
    z-index: 999;
}

input + label {
    position: relative;
    @include contoured-heart;
    background: black;
    display: inline-block;
    transform-origin: center;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input:checked + label {
    @include filled-heart;
    background: linear-gradient(0deg, $secondary 60%, $primary 90%);
    display: inline-block;
    transform-origin: center;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
} 