@keyframes opacity-heart-icon_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-heart-icon_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.heart_icon {
  width: 30px;
  display: flex;
  justify-content: center;
}
.heart_icon_full {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 70%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: opacity-heart-icon_out 200ms ease-in-out forwards;
}
.heart_icon_full:hover {
  opacity: 1;
  animation: opacity-heart-icon_in 200ms ease-in-out forwards;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

header .logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  position: relative;
}
header .logo-section a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 0;
}
header .logo-section a .back-button i {
  color: #383838;
  width: 10vw;
  padding-left: 1em;
}
header .logo-section .logo {
  z-index: 5;
}
header .logo-section .logo img {
  height: 30px;
  margin: 1em 0 0.5em 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  height: 21vh;
  padding: 2em;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    height: 5vh;
  }
}
footer .logo-booki {
  height: 3vh;
  filter: brightness(100);
  align-self: flex-start;
}
@media (min-width: 1024px) {
  footer .logo-booki {
    height: 2vh;
    align-self: self-end;
    margin: 0 3em 0 3em;
  }
}
footer .display-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .display-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  footer .display-footer-subgroup {
    display: flex;
    flex-direction: row;
    margin: 0 1.2em 0 1.2em;
  }
}
footer .display-footer-subgroup .footer-href {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 0 0.4em;
}
@media (min-width: 1024px) {
  footer .display-footer-subgroup .footer-href {
    margin: 0 1em 0 1em;
    padding: 0;
  }
}
footer .display-footer-subgroup .footer-href i {
  width: 1.5em;
  margin-right: 0.5em;
}
footer .display-footer-subgroup .footer-href a {
  text-decoration: none;
  color: white;
}

@keyframes thread {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-hidden {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}
@keyframes reservation-btn_in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px #d1d1d1;
  }
}
@keyframes reservation-btn_out {
  from {
    opacity: 0.8;
    box-shadow: -1px 0px 10px 5px #d1d1d1;
  }
  to {
    opacity: 1;
    box-shadow: 0px 5px 10px 1px #b7b7b7;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

body {
  background-color: #F6F6F6;
  margin: 0;
  max-width: 100%;
}
@media (min-width: 1024px) {
  body {
    background-color: white;
  }
}

.container {
  width: 100%;
}

.picture-background .img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  max-width: 100%;
  height: 25vh;
}
@media (min-width: 1024px) {
  .picture-background .img-restaurant {
    height: 55vh;
  }
}

main {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  padding: 2em 1em 1em 1em;
  top: -40px;
}
@media (min-width: 1024px) {
  main {
    width: 80%;
    margin: -40px auto 0 auto;
    top: 0;
  }
}
main .restaurant-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  main .restaurant-title {
    width: 22em;
    margin: 0 auto;
  }
}
main .restaurant-title h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 300;
  text-align: end;
}
main .restaurant-title .align-heart {
  width: 2em;
  height: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
main .menu-section {
  padding: 1.5em 0 1.5em 0;
  display: block;
}
@media (min-width: 1024px) {
  main .menu-section {
    width: 80%;
    margin: 0 auto;
  }
}
main .menu-section--1 {
  animation: thread 300ms ease-in-out 700ms normal backwards running;
}
main .menu-section--2 {
  animation: thread 600ms ease-in-out 700ms normal backwards running;
}
main .menu-section--3 {
  animation: thread 900ms ease-in-out 700ms normal backwards running;
}
main .menu-section--4 {
  animation: thread 1200ms ease-in-out 700ms normal backwards running;
}
main .menu-section--5 {
  animation: thread 1500ms ease-in-out 700ms normal backwards running;
}
main .menu-section--6 {
  animation: thread 1800ms ease-in-out 700ms normal backwards running;
}
main .menu-section--7 {
  animation: thread 2100ms ease-in-out 700ms normal backwards running;
}
main .menu-section--8 {
  animation: thread 2400ms ease-in-out 700ms normal backwards running;
}
main .menu-section--9 {
  animation: thread 2700ms ease-in-out 700ms normal backwards running;
}
main .menu-section--10 {
  animation: thread 3000ms ease-in-out 700ms normal backwards running;
}
main .menu-section--11 {
  animation: thread 3300ms ease-in-out 700ms normal backwards running;
}
main .menu-section--12 {
  animation: thread 3600ms ease-in-out 700ms normal backwards running;
}
main .menu-section .section-title {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 0.3em;
}
main .menu-section .blue-line {
  display: block;
  width: 10vw;
  height: 3px;
  background: #99E2D0;
}
main .menu-section article {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-top: 0.9em;
  box-shadow: 0px 5px 10px 1px #dddddd;
}
main .menu-section article .menu-card {
  display: flex;
  width: 100%;
  overflow: hidden;
}
main .menu-section article .menu-card-text {
  display: flex;
  position: relative;
  transform-origin: left;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.9em;
  width: 100%;
  margin-right: 0;
}
main .menu-section article .menu-card-text:hover {
  animation: text-hidden 0.5s both;
}
main .menu-section article .menu-card-text-subtitle-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .menu-section article .menu-card-text .price {
  text-align: right;
  font-weight: 700;
  font-size: 15px;
}
main .menu-section article .menu-card:hover {
  transition: margin-right 1s;
  margin-right: 0;
}
main .menu-section article .menu-card:hover .menu-check_green {
  transform: translateX(0);
  width: 20%;
}
main .menu-section article .menu-card .menu-check_green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 0;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s;
  position: relative;
  right: 0;
  transform: translateX(60px);
}
main .menu-section article .menu-card .menu-check_green i {
  color: white;
}
main .menu-section article .menu-card-text-title {
  display: flex;
  flex-direction: column;
}
main .menu-section article .menu-card-text-title:hover {
  animation: text-hidden 0.5s both;
}
main .menu-section article .dish-name {
  font-weight: 500;
  font-size: 18px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu-section article .assaisonement_name {
  font-weight: 300;
  font-size: 15px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .button button {
  width: 15em;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 70%);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 1em 1em 1em 1em;
  font-weight: 400;
  margin: 0 auto 0 auto;
  box-shadow: 0px 5px 10px 1px #b7b7b7;
  animation: reservation-btn_out 500ms ease-in-out backwards;
}
main .button button:hover {
  animation: reservation-btn_in 500ms ease-in-out forwards;
}
main .button button span {
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=styles-page-menu.css.map */